.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
  color: black;
}

.home-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
  
}

.home-page p {
  font-size: 18px;
  margin-bottom: 40px;
}

.home-page button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.home-page button:hover {
  background-color: #0056b3;
}
