.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.register-form {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 400px;
margin: 40px auto;
padding: 50px 30px;
box-shadow: 0 0 30px rgba(0,0,0,0.3);
position: absolute; /* Добавляем абсолютное позиционирование */
top: 50%; /* Смещаем форму на 50% от верха */
left: 50%; /* Смещаем форму на 50% от левого края */
transform: translate(-50%, -50%); /* Центрируем форму */
border-radius: 20px;
}


h2{
  margin: 0;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .register-form {
    max-width: 90%;
    padding: 15px;
  }
}

/* Адаптивность для планшетов */
@media (max-width: 1024px) {
  .register-form {
    max-width: 80%;
    padding: 20px;
  }
}

/* Адаптивность для маленьких экранов */
@media (max-width: 480px) {
  .register-form {
    max-width: 95%;
    padding: 10px;
  }
  .form-group label {
    font-size: 14px;
  }
  .form-control {
    font-size: 14px;
  }
}
.register-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #666;
}

.form-control {
  width: 380px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.password-hint {
  font-size: 12px;
  color: gray;
  margin-top: 5px;
}

.btn.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #7a3faa;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn.btn-primary:hover {
  background-color: #6d2ba2;
}